{% extends './base.html' %}

{% block title %}projectCreate{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <row>
            <a class="alignleft"></a>
            <a><img src="{{ url_for('static', filename='img/logo2.png') }}" alt="" width="30" height="30"/></a>
            <a class="navbar-brand" href="/dashboard/filter?by=1">Mindhive</a>
        </row>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ session["user_name"] }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/auth/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <form action="/{{route}}{{project_id}}" method="POST">

       
            <div class="mt-4 ms-4" style="text-align: left; ">
                <h1>{{title_label}} de un proyecto en Mind<strong>Hive</strong></h1>
            </div>  
            
            <h3 class="ms-5 mt-5"  style="text-align: left;">Titulo del proyecto:</h3>
            <div class="col-sm-8 ms-5">
                    <div class="form-floating mt-2">
                        <input type="text" class="form-control" required maxlength="45" id="tituloProyecto" name="tituloProyecto" placeholder="tituloProyecto">
                    </div>
            </div>

            <h3 class="ms-5 mt-2" style="text-align: left;">Descripción del proyecto:</h3>
            <div class="col-sm-8 ms-5">
                <div class="form-floating mt-2">
                    <textarea class="form-control" id="descripcionProyecto" required maxlength="100" name="descripcionProyecto" placeholder="descripcionProyecto" style="height: 100px;"></textarea>
                </div>
            </div>
            
            <div class="ms-5 row mt-3 me-0" style="padding-right: 10px;">
                <div class="col-sm-4">
                    <h3 style="text-align: left;">Fecha de inicio del Proyecto</h3>
                    <div class="form-floating mt-2">
                        <input type="date" class="form-control" id="fechaInicioProyecto" required name="fechaInicioProyecto" placeholder="fechaInicioProyecto">
                    </div>     
                </div>
            
                <div class="col-sm-4">
                    <h3 style="text-align: left;">Fecha de cierre del Proyecto</h3>
                    <div class="form-floating mt-2">
                        <input type="date" class="form-control" id="fechaCierreProyecto" required name="fechaCierreProyecto" placeholder="fechaCierreProyecto">
                    </div>
                </div>
            </div>

            <div class="ms-5 mt-5 mb-5" style="text-align:left;">
                <button class="w-50 btn btn-lg btn-primary" style="background-color: darkgreen;" type="submit">{{button_label}}</button>
            </div>
            
            
            
        
    </form>
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}