{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
<body>
    <!-- Navbar for the top section -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <row>
            <a class="alignleft"></a>
            <a><img src="{{ url_for('static', filename='img/logo2.png') }}" alt="" width="30" height="30"/></a>
            <a class="navbar-brand" href="/dashboard/filter?by=1">Mindhive</a>
        </row>`

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li>
                    <!-- Notification icon -->
                    <img src="{{ url_for('static', filename='img/notification.png') }}" alt="" width="30" height="30"/>
                </li>
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ session["user_name"] }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/auth/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Navbar for the bottom section -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <row class="ms-3">
            <h3 class="text-align=left mb-3">{{project['project_title']}}</h3>
            <p class="text-align=left mb-0">"{{project['project_description']}}"</p>
        </row>

        
        
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                    <div class="row me-0">

                        <div class="col-sm-4">
                            <li>
                                <div>
                                    <p class="mb-0"><strong>Fecha Inicio</strong></p>
                                        <p>{{project['starting_date']}}</p>
                                        <a href="/createActivity/{{project['project_id']}}">
                                            <button class="btn btn-sm btn-primary" style="background-color: darkgreen;">Añadir Actividad</button>   
                                        </a>
                                    
                                </div>
                            </li>
                        </div>

                        <div class="col-sm-4">
                            <li>
                                <div>
                                    <p class="mb-0"><strong>Fecha Cierre</strong></p>
                                    <p>{{project['ending_date']}}</p>
                                    <a href="/createAnnouncement/{{project['project_id']}}">
                                        <button class="btn btn-sm btn-primary" style="background-color: darkgreen;">Añadir Anuncio</button>   
                                    </a>
                                </div>
                            </li>
                        </div>

                        <div class="col-sm-4">
                            <li>
                                <div>
                                    <button class="btn btn-sm btn-primary mt-3 "  style="background-color: rgb(0, 0, 0);">Chat Grupal</button>

                                    <a href="/shareCode/{{project['project_id']}}">
                                        <button class="btn btn-sm btn-primary mt-3"  style="background-color: darkgreen;">Añadir Miembros</button>  
                                    </a>
                                   
                                </div>
                            </li>
                        </div>

                    </div>
                    
                    
          
                           
            </ul>
        </div>

    
    </nav>
    <div class="line"></div>
    

    <div class="row me-0 mt-3">
        <div class="col-sm-3" style="padding-left: 50px;">            
            <ul class="ms-0" style="list-style-type: none; padding-right: 40px; border: 1px solid #000; border-radius: 10%;">
                <h5>Actividades del Proyecto:</h5>
                {% for activity in activities %}
                <li>
                    <div>
                        <input type="checkbox" id="activity{{activity['activity_id']}}" name="activity{{activity['activity_id']}}" value="1">
                        <strong><label for="activity{{activity['activity_id']}}"> {{ activity['activity_name'] }}</label></strong>
                    </div>
                    <script>
                        // Function to save the checkbox state to localStorage
                        function saveCheckboxState() {
                            var checkbox = document.getElementById("activity{{activity['activity_id']}}");
                            localStorage.setItem("activity{{activity['activity_id']}}", checkbox.checked);
                        }
                        
                        // Function to load the checkbox state from localStorage
                        function loadCheckboxState() {
                            var checkbox = document.getElementById("activity{{activity['activity_id']}}");
                            var checkboxState = localStorage.getItem("activity{{activity['activity_id']}}");
                            
                            if (checkboxState === "true") {
                                checkbox.checked = true;
                            } else {
                                checkbox.checked = false;
                            }
                        }
                        
                        // Add event listeners to save and load the checkbox state
                        var checkbox = document.getElementById("activity{{activity['activity_id']}}");
                        checkbox.addEventListener("change", saveCheckboxState);
                        
                        // Load the checkbox state when the page is loaded
                        window.addEventListener("load", loadCheckboxState);
                    </script>
                </li>
                {% endfor %}
            </ul>
        </div>
        
          
        <div class="col-sm-6">
            <h4>Anuncios: </h4>
            <ul style="list-style-type: none;">
                {% for announcement in announcements %}
                <li class="mb-2" style="list-style-type: none; padding-right: 40px; border: 1px solid #000; border-radius: 3%;">
                  <div class="row me-0 mt-3">
                    <div class="col-sm-9" style="text-align: left; padding-left: 25px;">   
                        <h6>{{announcement['user_name']}}</h6>      
                    </div>
                    <div class="col-sm-3">
                        <h6>{{announcement['announcement_date']}}</h6>
                    </div>

                    <h5 style = "padding-left: 25px; text-align: left;">{{ announcement['announcement_name'] }}</h5>
                    <p style = "padding-left: 25px; text-align: left;">{{announcement['announcement_description']}}</p>
                    <a href="/projectAnnouncement/{{announcement['announcement_id']}}" style="text-align: right;"><p>Comentarios</p></a>
                  </div>
                </li>
                {% endfor %}
              </ul>
        </div>
        <div class="col-sm-3" style="padding-left: 50px;">            
            <ul class="ms-0" style="padding-right: 40px; border: 1px solid #000; border-radius: 10%;">
                <h5>Participantes: </h5>
                {% for participant in participants %}
                <li style="text-align: left; " >
                  <div>
                    <h5>{{ participant['user_name'] }}</h5>
                  </div>
                </li>
                {% endfor %}
              </ul>
        </div>

    </div>
      
    <!-- Include the necessary Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
{% endblock %}