{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
    <!-- Include custom CSS file for navbar styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
<body>
    <!-- Navbar for the top section -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <row>
            <a class="alignleft"></a>
            <a><img src="{{ url_for('static', filename='img/logo2.png') }}" alt="" width="30" height="30"/></a>
            <a class="navbar-brand" href="/dashboard/filter?by=1">Mindhive</a>
        </row>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li>
                    <!-- Notification icon -->
                    <img src="{{ url_for('static', filename='img/notification.png') }}" alt="" width="30" height="30"/>
                </li>
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ session["user_name"] }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/auth/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Navbar for the bottom section -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <row>
            <h3 class="alignleft">Tus Proyectos:</h3>
        </row>

        <div class="collapse navbar-collapse d-flex justify-content-center mb-0" id="navbarsExample03" style="padding-top: 16px;">
            <ul class="navbar-nav" >
                <li>
                    <p style="padding-top: 8px;">Filtrar por:</p>
                </li>
                <li class="nav-item dropdown">
                    <!-- Project filter dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;background-color: #ffffff;">
                        <span class="squircle filter "></span> {{ filter }}
                      </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/dashboard/filter?by=1">Todo</a>
                        <a class="dropdown-item" href="/dashboard/filter?by=2">Creados</a>
                        <a class="dropdown-item" href="/dashboard/filter?by=3">Fecha de inicio</a>
                        <a class="dropdown-item" href="/dashboard/filter?by=4">Fecha de cierre</a>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div style="padding-right: 20px; padding-top: 27px;"">
                        <!-- Create project button -->
                        <a class="w-100 h-30 btn btn-sm btn-primary" href="/createProject" style="background-color: darkgreen; display: block; text-align: center; line-height: 20px;">¡Crea un proyecto!</a>

                    </div>
                </li>
                <form action="/adduser" method="POST">
                    <li>
                    
                        <div style="padding-right: 5px;"">
                            <p class="mb-0"><strong>Unirse a un proyecto</strong></p>
                        <!-- Input field for joining a project -->
                            <input type="text" class="form-control" id="joinProject" name="joinProject" placeholder="Código de proyecto">
                                <div class="msg">
                                    {{msg}}
                                </div>
                            </input>
                            
                        </div>
                    </li>
                    <li>
                        <div style="padding-right: 20px; padding-top: 27px;">
                                <!-- Button for joining a project -->
                                <div style="text-align:left;">
                                    <button class="w-20 btn btn-sm btn-primary" style="background-color: darkgreen;" type="submit">+</button>
                                </div>
                        </div>
                    </li>
                </form>
                           
            </ul>
        </div>

     
    </nav>
    <div class="line"></div>

    <div>
        <ul style="list-style-type: none;">
            {% for project in projects %}
            <li style="padding: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 250px; text-align: left; border: 1px solid #000; border-radius: 2%;">
                <div class="row">
                    <div class="col-md-8">
                        <h3>{{ project['project_title'] }}</h3>
                        <h5>"{{ project['project_description'] }}"</h5>
                        <h6 class="mt-5">
                            <span class="mr-2">{{ project['user_name'] }}</span>
                            &nbsp&nbsp
                            <span class="mr-2">{{ project['participant_count'] }} participante(s)</span>
                            &nbsp&nbsp
                            <span class="mr-2">{{project['starting_date']}}</span>
                            &nbsp&nbsp
                            <span>{{project['ending_date']}}</span>
                        </h6>
                    </div>
                    
                    <div class="col-md-4 text-md-right" style="margin-top: 50px;">
                        <button class="btn btn-md btn-primary" style="background-color: rgb(23, 28, 23); margin-left: 100px;">
                            &nbsp&nbsp&nbspEntrar&nbsp&nbsp&nbsp
                        </button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Include the necessary Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
