{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
<body>
    <!-- Navbar for the top section -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <row>
            <a class="alignleft"></a>
            <a><img src="{{ url_for('static', filename='img/logo2.png') }}" alt="" width="30" height="30"/></a>
            <a class="navbar-brand" href="/dashboard/filter?by=1">Mindhive</a>
        </row>`

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
               
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ session["user_name"] }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/auth/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Navbar for the bottom section -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <row class="ms-3" style="padding-right: 50px;">
            <h3 class="text-align=left mb-3"  style="word-break: break-all;">{{project['project_title']}}</h3>
            <p class="text-align=left mb-0"  style="word-break: break-all;">"{{project['project_description']}}"</p>
            <div class="msg">{{msg}}</div>
        </row>
        <select id="{{ project['project_id'] }}" style="max-width: 40px; margin-left: -10px; margin-right: 10px;" onchange="modifyProject('{{ project['project_id'] }}')"> 
            <option value="">...</option>
            <option value="editar">Editar Proyecto</option>
            <option value="borrar">Borrar Proyecto</option>
        </select>

        <script>
            function modifyProject(project_id) {
              var selectElement = document.getElementById("{{ project['project_id'] }}");
              var selectedOption = selectElement.value;
          
              if (selectedOption === "editar") {
                window.location.href = "/editProject/"+project_id;
              } else if (selectedOption === "borrar") {
                window.location.href = "/deleteProject/"+project_id;
              } 
            }
          </script>
        
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                    <div class="row me-0">

                        <div class="col-sm-4">
                            <li>
                                <div>
                                    <p class="mb-0"><strong>Fecha Inicio</strong></p>
                                        <p>{{project['starting_date']}}</p>
                                        <a href="/activity/{{project['project_id']}}">
                                            <button class="btn btn-sm btn-primary" style="background-color: darkgreen;">Crear Actividad</button>   
                                        </a>     
                                </div>
                            </li>
                        </div>

                        <div class="col-sm-4">
                            <li>
                                <div>
                                    <p class="mb-0"><strong>Fecha Fin</strong></p>
                                    <p>{{project['ending_date']}}</p>
                                    <a href="/createAnnouncement/{{project['project_id']}}">
                                        <button class="btn btn-sm btn-primary" style="background-color: darkgreen;">Añadir Anuncio</button>   
                                    </a>
                                </div>
                            </li>
                        </div>

                        <div class="col-sm-4">
                            <li>
                                <div>
                                    <a href="/shareCode/{{project['project_id']}}">
                                        <button class="btn btn-sm btn-primary"  style="background-color: darkgreen;">Añadir Miembros</button>      
                                    </a>
                                </div>
                                <div style="margin-top: 10px;">
                                    <a href="/leaveProject/{{project['project_id']}}">
                                        <button class="btn btn-sm btn-primary" style="background-color: darkred;">Salir del Grupo</button>   
                                    </a>
                                </div>

                            </li>
                        </div>

                    </div>
                    
                    
          
                           
            </ul>
        </div>

    
    </nav>
    <div class="line"></div>

    <div class="row me-0 mt-3">
        <div class="col-sm-3" style="padding-left: 10px; padding-right: 0px;">            
            <ul style="margin-left:10px; padding-left: 0px; list-style-type: none; padding-right: 0px; border: 1px solid #000; border-radius: 10%;">
                <h5>Actividades del Proyecto:</h5>
             <!-- ...previous code... -->

            
                {% for activity in activities %}
                
                <li class="mt-3 mb-2">
                    
                        
                            <div>
                                <h6  style="word-break: break-all;">
                                    {{ activity['activity_name'] }}
                                </h6>
                            </div>
                        
                        
                            <select style="max-width: 40px;" id="select_{{ activity['activity_id'] }}" onchange="redirectUser('{{ activity['activity_id'] }}', '{{project['project_id']}}')">
                                <option value="">...</option>
                                <option value="editar">Editar Actividad</option>
                                <option value="borrar">Marcar como completado</option>
                            </select>
                        
                
 
                </li>
                {% endfor %}
            </ul>
            
              
              <script>
                function redirectUser(activityId, projectId) {
                  var selectElement = document.getElementById("select_" + activityId);
                  var selectedOption = selectElement.value;
              
                  if (selectedOption === "editar") {
                    window.location.href = "/editActivity/" + projectId + '/' + activityId;
                  } else if (selectedOption === "borrar") {
                    window.location.href = "/deleteActivity/"+ projectId + '/' + activityId;
                  } 
                }
              </script>
              

                <!-- Place the dropdown outside the loop -->
                
                  

<!-- ...remaining code... -->

            </ul>
        </div>
        
          
        <div class="col-sm-6">
            <h4>Anuncios: </h4>
            <ul style="list-style-type: none; margin-left: 0px; padding-left: 0px;">
                {% for announcement in announcements %}
                <li class="mb-2" style="list-style-type: none; padding-right: 5x; border: 1px solid #000; border-radius: 3%;">
                  <div class="row me-0 mt-3">
                    <div class="col-sm-9" style="text-align: left; padding-left: 25px;">   
                        <h6  style="word-break: break-all; margin-right: 25px;">{{announcement['user_name']}}</h6>    
                       
                    </div>
                    <div class="col-sm-3">
                        <h6  style="word-break: break-all; margin-left: -50px; margin-right: 0px;">{{announcement['announcement_date']}}</h6>
                    </div>
                   

                    <h6 style = "margin-top:10px; padding-left: 25px; text-align: left; word-break: break-all;">{{ announcement['announcement_name'] }}</h6>
                    <h6 style = "padding-left: 25px; text-align: left; word-break: break-all;">"{{announcement['announcement_description']}}"</h6>
                    <a href="/projectAnnouncement/{{announcement['announcement_id']}}" style="text-align: right;"><p>Comentarios</p></a>
                  </div>
                </li>
                {% endfor %}
              </ul>
        </div>
        <div class="col-sm-3" style="padding-left: 0px; padding-right: 5px;">            
            <ul class="ms-0" style="padding-right: 10px; border: 1px solid #000; border-radius: 10%;">
                <h5>Participantes: </h5>
                {% for participant in participants %}
                <li style="text-align: left; " >
                  <div>
                    <h5  style="word-break: break-all;">{{ participant['user_name'] }}</h5>
                  </div>
                </li>
                {% endfor %}
              </ul>
        </div>

    </div>
      
    <!-- Include the necessary Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

</body>
</html>
{% endblock %}